<div class="bundle-paginator-outer-container">
  <div class="bundle-paginator-container">
    <div class="bundle-paginator-page-size" *ngIf="!hidePageSize">
      <div class="bundle-paginator-page-size-label">Items per page:</div>

      <mat-form-field
        *ngIf="_displayedPageSizeOptions.length > 1"
        [appearance]="_formFieldAppearance!"
        [color]="color"
        class="bundle-paginator-page-size-select"
      >
        <mat-select
          [value]="pageSize"
          [disabled]="disabled"
          aria-label="Items per page:"
          (selectionChange)="_changePageSize($event.value)"
        >
          <mat-option *ngFor="let pageSizeOption of _displayedPageSizeOptions" [value]="pageSizeOption">
            {{ pageSizeOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="bundle-paginator-page-size-value" *ngIf="_displayedPageSizeOptions.length <= 1">
        {{ pageSize }}
      </div>
    </div>

    <div class="bundle-paginator-range-actions">
      <div class="bundle-paginator-range-label">
        {{ getRangeLabel() }}
      </div>

      <button
        mat-icon-button
        type="button"
        class="bundle-paginator-navigation-first"
        (click)="navigate('first')"
        aria-label="First page"
        matTooltip="First page"
        [matTooltipDisabled]="!hasFirst || disabled"
        [matTooltipPosition]="'above'"
        [disabled]="!hasFirst || disabled"
        *ngIf="showFirstLastButtons"
      >
        <svg class="bundle-paginator-icon" viewBox="0 0 24 24" focusable="false">
          <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z" />
        </svg>
      </button>
      <button
        mat-icon-button
        type="button"
        class="bundle-paginator-navigation-previous"
        (click)="navigate('previous')"
        aria-label="Previous page"
        matTooltip="Previous page"
        [matTooltipDisabled]="!hasPrev || disabled"
        [matTooltipPosition]="'above'"
        [disabled]="!hasPrev || disabled"
      >
        <svg class="bundle-paginator-icon" viewBox="0 0 24 24" focusable="false">
          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        </svg>
      </button>
      <button
        mat-icon-button
        type="button"
        class="bundle-paginator-navigation-next"
        (click)="navigate('next')"
        aria-label="Next page"
        matTooltip="Next page"
        [matTooltipDisabled]="!hasNext || disabled"
        [matTooltipPosition]="'above'"
        [disabled]="!hasNext || disabled"
      >
        <svg class="bundle-paginator-icon" viewBox="0 0 24 24" focusable="false">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </button>
      <button
        mat-icon-button
        type="button"
        class="bundle-paginator-navigation-last"
        (click)="navigate('last')"
        aria-label="Last Page"
        matTooltip="Last Page"
        [matTooltipDisabled]="!hasLast || disabled"
        [matTooltipPosition]="'above'"
        [disabled]="!hasLast || disabled"
        *ngIf="showFirstLastButtons"
      >
        <svg class="bundle-paginator-icon" viewBox="0 0 24 24" focusable="false">
          <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z" />
        </svg>
      </button>
    </div>
  </div>
</div>
