<div class="mrlonis-relative-date-picker">
  <mat-form-field appearance="outline" *ngIf="selectedCreationDate !== 'custom'">
    <mat-select placeholder="All" [(value)]="selectedCreationDate" (selectionChange)="dateSelectionChanged($event.value)">
      <mat-option></mat-option>
      <mat-option value="1">1+ Days Ago</mat-option>
      <mat-option value="2">2+ Days Ago</mat-option>
      <mat-option value="7">7+ Days Ago</mat-option>
      <mat-option value="30">30+ Days Ago</mat-option>
      <mat-divider></mat-divider>
      <mat-option value="custom">Custom Range</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="selectedCreationDate === 'custom'">
    <mat-date-range-input [max]="maxDate" [rangePicker]="creationRangePicker">
      <input matStartDate placeholder="Start date" [value]="defaultStartDate" />
      <input matEndDate placeholder="End date" [value]="defaultEndDate" (dateChange)="dateRangeChange()" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="creationRangePicker"></mat-datepicker-toggle>
    <mat-datepicker-toggle matSuffix (click)="clearCreationDateRange()">
      <mat-icon matDatepickerToggleIcon>close</mat-icon>
    </mat-datepicker-toggle>
    <mat-date-range-picker #creationRangePicker></mat-date-range-picker>
  </mat-form-field>
</div>
