<div style="width: 100%; height: 100%">
  <as-split direction="horizontal" [gutterSize]="3" class="split-example ex-b" style="height: 100%">
    <as-split-area [minSize]="30" *ngFor="let slot of slots()" style="height: 100%">
      <mat-tab-group class="mrlonis-page-tabs" color="accent" style="height: 100%">
        <ng-container *ngFor="let section of sections">
          <mat-tab [disabled]="disabled" *ngIf="section.visible && section.side === slot" style="height: 100%">
            <ng-template mat-tab-label>
              {{ section.tabName }}
              <mat-icon
                *ngIf="section.toggleable && section.side === 'left'"
                color="accent"
                (click)="$event.stopPropagation(); section.side = 'right'"
                class="mat-icon"
                >open_in_new</mat-icon
              >
              <mat-icon
                *ngIf="section.toggleable && section.side === 'right'"
                color="accent"
                (click)="$event.stopPropagation(); section.side = 'left'"
                class="mat-icon"
                >first_page</mat-icon
              >
              <mat-icon
                *ngIf="section.closeable"
                color="accent"
                (click)="$event.stopPropagation(); section.closed.emit()"
                class="mat-icon"
                >close</mat-icon
              >
            </ng-template>
            <mat-spinner *ngIf="disabled"></mat-spinner>
            <div style="height: 100%">
              <ng-template *ngIf="!disabled" [ngTemplateOutlet]="section.templateRef"></ng-template>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </as-split-area>
  </as-split>
</div>
