<mat-form-field>
  <input
    type="text"
    class="mrlonis-base-autocomplete-input"
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
    aria-label="Practitioner Search"
    (input)="_handleInput(formControl, undefined)"
    [attr.aria-labelledby]="_formField?.getLabelId()"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
    #search
    #inputAutoComplete
  />
  <button mat-button matSuffix *ngIf="isNotEmpty()" (click)="closePanel($event)"><mat-icon>close</mat-icon></button>
</mat-form-field>

<button mat-button (click)="openPanel($event)">
  <mat-icon>{{ arrowType }}</mat-icon>
</button>

<mat-autocomplete
  autoActiveFirstOption
  #auto="matAutocomplete"
  (optionSelected)="onFilterOptionSelected($event)"
  [displayWith]="this.data.getOptionText"
  (opened)="panelOpened()"
  (closed)="panelClosed()"
>
  <mat-option disabled class="loading" *ngIf="this.data.loading">
    <mat-spinner diameter="24"></mat-spinner>
  </mat-option>
  <mat-option *ngFor="let item of filteredData | async" [value]="item">
    {{ this.data.getOptionText(item) }}
  </mat-option>
</mat-autocomplete>
