@use 'sass:map';
@use '~@angular/material' as mat;

@mixin all($config) {
  $color: mat.get-color-config($config);
  $primary: map.get($color, primary);
  $typography: mat.get-typography-config($config);
  $base-font-size: mat.font-size($typography, 'caption');
  .mrlonis-nav-list {
    .mat-list-base,
    &.mat-list-base {
      .mat-list-item,
      .mat-list-option {
        color: inherit;
        height: 2.5rem;
        opacity: 0.83;
        font-size: $base-font-size + 1px;
        &.active {
          background-color: rgba(255, 255, 255, 0.15);
        }
      }

      .mat-subheader {
        color: inherit;
        height: 2.5rem;
        font-size: $base-font-size - 1px;
        text-transform: uppercase;
        opacity: 0.6;
      }

      .mat-divider {
        border-top-color: inherit;
        opacity: 0.2;
      }
    }
  }
}
