@use '~@angular/material' as mat;
@use 'sass:map';

@mixin all($config) {
  // collect here until we can split stuff out
  $color: mat.get-color-config($config);
  $accent: map.get($color, accent);
  $primary: map.get($color, primary);
  $background: map.get($color, background);
  $foreground: map.get($color, foreground);
  $gray: map.get($color, gray);

  .zotec-page-tabs {
    .mat-tab-header {
      background: mat.get-color-from-palette($background, card);
      border-bottom: 1px solid mat.get-color-from-palette($gray, 200);
    }
    .mat-tab-label,
    .mat-tab-link {
      font-size: 14px;
      font-weight: normal;
      color: mat.get-color-from-palette($foreground, text);
      padding-left: 1rem;
      padding-right: 1rem;
      min-width: auto;
      height: 2.5rem;
    }
    .mat-tab-body {
      padding: 1rem;
    }
  }
}
