@mixin all($config) {
  .mat-table thead {
    background-color: rgba(241, 241, 241);
    z-index: 1000;
  }

  tr.mat-header-row.zotec-table-header {
    height: 28px;
    text-transform: uppercase;
    color: #919191;
  }

  th.mat-header-cell {
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.085em;

    border-bottom-color: #e0e0e0;
  }

  table.mat-table.zotec-table {
    border: 1px solid rgba(229, 229, 229, 0.58);
  }

  .zotec-table {
    .mat-row {
      &[ng-reflect-router-link],
      &.clickable {
        cursor: pointer;
      }
      &.selected {
        background-color: rgb(234, 243, 219);
      }
    }
    &.clickable .mat-row {
      cursor: pointer;
    }
  }
}
