@use 'sass:map';
@use '~@angular/material' as mat;
@use './color_utils';

@mixin all($config) {
  $color: mat.get-color-config($config);
  $primary: map.get($color, primary);
  $typography: mat.get-typography-config($config);
  .mat-h1,
  .mat-headline,
  .mat-typography h1 {
    color: black;
  }

  .mat-h2,
  .mat-title,
  .mat-typography h2 {
    color: #565656;
  }

  .mat-h3,
  .mat-subheading-2,
  .mat-typography h3 {
    color: black;
  }

  .mat-h4,
  .mat-typography h4 {
    color: rgba(0, 0, 0, 0.8);
    @include color_utils.foreground($config, '&');
  }

  .mat-h5,
  .mat-typography h5 {
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: rgba(161, 161, 161, 0.8);

    @include color_utils.foreground($config, '&');
  }
  .mat-h6,
  .mat-typography h6 {
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    @include color_utils.foreground($config, '&');
  }
}
