// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@use './theme';
@use './controls' as controls;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@include mat.all-component-themes(theme.$mrlonis-ibc-coding-app-theme);
@include mat.all-component-typographies(theme.$mrlonis-ibc-coding-typography);
@include controls.mrlonis-shared-all(theme.$mrlonis-ibc-coding-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}
html {
  height: 100%;
}
.mat-tab-body-wrapper {
  flex-grow: 1;
}
.mat-form-field {
  margin-bottom: -1.25em;
}
.mat-form-field-outline {
  background-color: rgba(196, 196, 196, 0.11) !important;
}

#missing-account-navigation .mat-button-toggle-group {
  background-color: darkgray !important;
}

.mrlonis-card.detail-panel-rows {
  padding: 0;
}

@import './buttons';
@import './dialog';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
